.photos-container {
    background-color: #ebeef1 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    position: fixed !important;
    height: 100% !important;
    display: block !important;
    top: 0;
    padding-top: 70px;
    padding-bottom: 3%;
    margin: 0 !important;
    overflow-y: auto;
}

.result-photos-album-user {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
    height: 90% !important;
    flex-wrap: wrap;
}