.side-bar-mcontainer {
    position: fixed;
    top: 0;
    right: 0;
    height: 94%;
    max-width: 400px;
    margin-top: 60px;
    width: 400px;
    border-radius: 15px;
}

.side-bar {
    height: 100%;
}

.card-user-detail {
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px;
    z-index: 100 !important;
}

.card_profile {
    text-align: center !important;
}

.user-container-detail {
    border: 1px solid rgb(175, 174, 174);
    height: 100% !important;
    border-radius: 4px;
}

.close-option {
    width: 22px;
    height: 22px;
    padding: 0 !important;
    margin-top: 5px;
    margin-right: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.icon-close-option {
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(108, 106, 109) !important;
    position: relative !important;
    top: -5px !important;
    left: 0px !important;
    font-size: 22px;
}

.title-card-name {
    width: 90%;
    text-align: center;
    display: inline-block;
    margin-right: 12px;
}

.area-card-detail {
    width: 90%;
    text-align: justify;
    display: inline-block;
    margin-right: 21px;
    padding-left: 10px;
}

.area-icon-edit {
    display: inline-block;
    width: 8%;
    height: 100% !important;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 0px;
}

.icon-edit {
    margin-top: -3px;
}

.container-detail {
    display: flex;
}

.form-control-edit {
    margin-bottom: 8px;
}

@media only screen and (max-width: 600px) {
    .area-card-detail {
        padding-left: 50px;
    }
}