// .albums-container {
//     background-color: peru !important;
//     position: fixed !important;
//     height: 100% !important;
//     width: 100% !important;
// }
.albums-container {
    background-color: #ebeef1 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    position: fixed !important;
    height: 100% !important;
    display: block !important;
    top: 0;
    padding-top: 70px;
    padding-bottom: 3%;
    margin: 0 !important;
}

.albums-user {
    background-color: rgb(218, 214, 214);
    position: relative !important;
    height: 80%;
    width: 90%;
    margin: auto;
    overflow-y: auto;
}

.list-users {
    width: 90%;
    margin: auto;
}

.item-user {
    cursor: pointer;
}